html {
    scroll-behavior: smooth;
  }

  a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color:#000000; 
    text-decoration:none; 
    cursor:pointer;  
}
body {
    background-color: black;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 0 60px;
    font-weight: bold;
}
.banner{
    position: relative;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 80%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 5vh auto;
    border-radius: 50px;
}
.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}
.banner h2{
    position: relative;
    z-index: 2;
}
.banner p{
    position: relative;
    z-index: 2;
}
.banner a{
    position: relative;
    z-index: 2;
}
.content h2 {
    margin: 20px 0;
    font-size: 24px;
}
.content p {
    font-size: 18px;
    z-index: 2;
}
.button {
    display: inline-block;
    background-color: greenyellow;
    color: black;
    padding: 15px 25px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}
.section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    color: black;
}
.section-black {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    color: white;
}
.features {
    background-color: white;
    padding: 50px;
    text-align: left;
}
.features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}
.feature {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
}
.main-text{
    padding-bottom: 50px;
    text-align: center;
}
.fade-in {
    opacity: 0; /* начальное значение непрозрачности */
    animation: fadeIn ease-in 1; /* добавляем анимацию fadeIn */
    animation-fill-mode: forwards; /* будет видимым после завершения анимации */
    animation-duration: 1.5s; /* длительность анимации в 1 секунду */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .displays {
    background-color: white;
    text-align: left;
    padding-bottom: 50px;
}
.display-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
}
.display {
    background: white;
    border-radius: 20px;
}
.features2 {
    background-color: black;
    padding: 50px;
    text-align: left;
}
.features-grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}
.feature2 {
    background: #000000;
    color:#f8f8f8;
    padding: 1px;
    border-radius: 1px;
}
.features3 {
    background-color: white;
    padding: 50px;
    text-align: left;
}
.features-grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}
.feature3 {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
}